# OS Files
.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
*~
.directory
.Trash-*

# Environment Files
.env
.vagrant
Vagrantfile

# CodeIgniter Writable Directories
writable/cache/*
!writable/cache/index.html
writable/logs/*
!writable/logs/index.html
writable/session/*
!writable/session/index.html
writable/uploads/*
!writable/uploads/index.html
writable/debugbar/*
!writable/debugbar/.gitkeep

# Logs
php_errors.log

# Composer
vendor/

# IDE Files
.idea/
*.iml
.vscode/
*.sublime-workspace
*.sublime-project
.phpintel

# Test Files
tests/coverage*
phpunit
phpunit*.xml
/results/

# Build Files
/build/
/dist/
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
